<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>
    

    <div id="desafio">
      <!-- 1) Ligue o botão para alternar a exibição dos dois
        parágrafos. Use ambos v-if e v-show e inspecione os elementos
        para ver a diferença -->
      <h2>#01</h2>
      <div>
        <button @click="on = !on">Alternar</button>
        <p v-if="on">Você quer me ver ...</p>
        <p v-else>...ou eu</p>
        <p v-show="on">Você quer me ver ...</p>
        <p v-show="!on">...ou eu</p>
      </div>

      <!-- 2) Exiba em uma <ul> um array de elementos da sua escolha.
        Imprima também o índice de cada elemento. -->
      <h2>#02</h2>
      <ul>
        <li v-for="(a, i) in array">{{i + 1}}) {{a}}</li>
      </ul>
      
      <!-- 3) Imprimir todos os pares de valor-chave do objeto a seguir:
        {
          titulo: 'O Senhor dos Anéis',
          autor: 'J.R.R. Tolkiens',
          volume: '3'
        }
        Imprima também o índice de cada item. -->
      <h2>#03</h2>
      <ul>
        <li v-for="(a, k, i) in livro">{{i+1}}) {{k}}: {{a}}</li>
      </ul>
      
      <!-- 4) Imprima o seguinte objeto (somente os valores) e
        também crie um loop aninhado para o array:
        {
          id: 10,
          nome: 'Maria',
          notas: [7.67, 8.33, 6.98, 9.21]
        }
        (dica: use v-for e v-if na resolução) -->
      <h2>#04</h2>
      <ul>
        <li v-for="a in aluno">
          <template v-if="!Array.isArray(a)">
            {{a}}
          </template>
          <template v-else>
            Notas:
            <ul>
              <li v-for="n in a">
                {{n}}
              </li>
            </ul>
          </template>
          
        </li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
